.time {
  font-variant-numeric: tabular-nums;
  font-weight: var(--tw-font-weight-bold);
}
.xs {
  font-size: var(--tw-font-size-md);
}
.sm {
  font-size: var(--tw-font-size-lg);
}
.md {
  font-size: var(--tw-font-size-xl);
}
.lg {
  font-size: var(--tw-font-size-display-sm);
}
.xl {
  font-size: var(--tw-font-size-display);
}
